
//variables
$background: #f9f9f9;
$sidebar: #fff;
$shadow: blue;
$header-font: 'Montserrat', sans-serif;
$body-font: 'Inconsolata', monospace;


@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:400,700|VT323');

body, html {
    margin: 0;
    padding: 0;
    background: $background;
    font-family: 'VT323';
    font-size: 1.25em;
}

a, a:visited {
    color: #ee4bb5;
    transition-property: color;
    transition-duration: .5s;
}

a:hover {
    color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 100%;
    background-color: $sidebar;
    margin:0;
    padding: 40px !important;
        h2 {
            text-align: center;
            color: blue;
            font-family: $header-font;
            font-weight: 700;
        }

        p {
            text-align: justify;
            margin: 15px;
        }
}

.buttons-container {
    margin: 20px auto 0 auto;
}

.dvaButton {
    margin: 0 auto 0 auto;
    transform: scale(.955);
    transition: all .07s ease;
    display: inline-block;
    text-align: center;
    background: none;
    border: none;
    margin: 30px auto 0 25px;
    width: 90px;
        span {
            display: block;
            margin-top: 10px;
            font-family: $body-font;
            font-size: 1.3em;
            line-height: 1.5em;
        }
        img {
            width: 80px;
            filter: drop-shadow( 5px 5px 0px $shadow);
        }
        img:active {
            transform: translateX(5px);
            filter: drop-shadow( 1px 1px 0px $shadow);
        }
}

.dvaPixel {
 display: none;
}

.credit {
    display: none;
}

// Code block below removes the focus ring, but allows it to still be used for those unable to use a mouse.
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}

@media (min-width: 1281px) { //Desktop Only
    .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .sidebar {
        width: 330px;
        height: 100vh;
        position: fixed;
        margin-top: -10px;
    }

    .dvaPixel {
        display: block;
         transform: scale(.5);
         position: absolute;
         left:-90px;
         margin-top: 0;
    }

    .credit {
        font-size: .7em;
        display: inline;
    }

    .buttons-container {
        margin: 20px 0 0 405px;
    }

    .dvaButton {
        width: 150px;
        margin-right: 40px;
            span {
                font-size: 2em;
                line-height: 1.5em;
            }
            
            img {
                width: 110px;
            }
            &:last-child {
                margin-bottom: 70px;
            }
    }
}