@import "variables";
@import "mixins";
@import "normalize";
@import url("https://fonts.googleapis.com/css?family=VT323");

html,
body {
  font-family: "VT323", monospace;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background: $lightgray;
  @include for-desktop-up {
        flex-direction: row;
        height: 100vh;
    }
}

.sidebar {
  background: #fff;
  padding: 3% 3% 0 3%;
  position:relative;
  padding-bottom: 250px;
  img {
    max-width: 300px;
    position:absolute;
    bottom: 0;
    left: 0;
  }
  @include for-desktop-up {
    max-width: 25vw;
  }
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  margin: 20px auto 0 auto;
  @include for-desktop-up {
      justify-content: baseline;
  }
}

.dvaButton {
  display: block;
  background: transparent;
  border: 0;
  width: 80px;
  margin: 11px;
  text-align: center;
  @include for-desktop-up {
      margin:30px;
      max-height: 150px;
      
  }
  img {
    max-width: 80px;
    display: block;
    margin-bottom: 10px;
    @include for-desktop-up {
        max-width: 100px;
    }
  }
}
